<html>
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="force.css">
</head>
<body>
	<div 
		class = "row"
		ng-app = "graphicModule"
		ng-controller = "datacontroller as dc">
		<div>
			<div class="col-sm-6">
				<button 
					type = "button"
					class="btn btn-default" 
					ng-click = "dc.map()">
					Click Me!
				</button>
			</div>
			<div class="col-sm-6">
				<div 
					class ="panel-body"
					ng-controller = "graphiccontroller as gc">
					<svg ng-attr-width="{{width}}"
                       ng-attr-height="{{height}}">
						<defs>
							<marker 
								id="markerArrow"
		                        class="arrow" 
		                        markerWidth="13" 
		                        markerHeight="13" 
		                        refx="12" refy="6"
		                        orient="auto">
		                        <path 
		                          class="arrow-path" 
		                          d="M5,2 L5,11 L13,6 L5,2">
	                      	</marker>
	                    </defs>
	                    <g ng-repeat="link in dis_link">
		                    <line   
			                    class="link"
			                    style="marker-end: url(#markerArrow); "
			                    ng-attr-stroke-width="{{link.strokeWidth}}"
			                    ng-attr-x1="{{link.source.x}}"
			                    ng-attr-y1="{{link.source.y}}"
			                    ng-attr-x2="{{link.target.x}}"
			                    ng-attr-y2="{{link.target.y}}">
		                    </line>
	                    	<text
	                    		style = "text-anchor:middle"
	                    		font-size = "14"
	                    		fill="black"
	                    		ng-attr-x="{{(link.source.x+link.target.x)/2}}"
	                    		ng-attr-y="{{(link.source.y+link.target.y)/2}}"
		                        ng-attr-transform="rotate({{link.degrees}} ,{{(link.source.x+link.target.x)/2}},{{(link.source.y+link.target.y)/2}})">
		                        {{link.text}}
		                    </text>
		                </g>
	                    <g ng-repeat="node in dis_block">
                      		<rect
                        		class="node"
                        		rx="10"
                        		ry="10"
                        		ng-attr-width="{{node.w}}"
            		            ng-attr-height="{{node.h}}"
                     		    ng-attr-fill="{{node.color}}"
                    		    ng-attr-x="{{node.x-node.w/2}}"
                    		    ng-attr-y="{{node.y-node.h/2}}">
                        		<title>{{node.text}}</title>
                      		</rect>
                      		<text
		                        style="text-anchor: middle;"
		                        font-family="Arial"
		                        font-size="18"
		                        fill="white"
		                        ng-attr-x="{{node.x}}"
		                        ng-attr-y="{{node.y+6-40}}"
		                        >
		                        {{node.text}}
                        	</text>
                        	<text
                        		style="text-anchor: start;"
		                        font-family="Arial"
		                        font-size="16"
		                        fill="yellow"
		                        ng-attr-x="{{node.x-110}}"
		                        ng-attr-y="{{node.y+6-20}}"
		                        >
		                        <tspan ng-attr-x="{{node.x-110}}" dy="20" ></tspan>
		                    </text>
                    	</g>
	                </svg>
				</div>
					
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="angularjs.js"></script>
<script type="text/javascript" src="ui-bootstrap-tpls-0.13.4.min.js"></script>
<script type="text/javascript" src="graph.js"></script>
</html>