<html ng-app="notrApp">

<head>
    <title>Notr - Why Am I Responsible for This?</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome-4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/force.css">
</head>

<body>
    <div id="header-bar" class="clearfix">
        <h1>Notr</h1>
        <h3>Why Am I Responsible for This?</h3>
    </div>

    <div class="container" ng-controller="EditorCtrl as ec">
        <div class="row">
            <div class="col-md-6" id="raw">
                <nav>
                    <ul class="nav nav-pills">
                        <li>
                            <a href id="toggle" class="glyphicon glyphicon-align-justify"></a>
                        </li>
                        <li><a>Sample note.txt</a></li>
                        <li><a id="err">{{errorWarning}}</a></li>
                    </ul>
                </nav>
                <div ui-ace="{
                	useWrapMode : true,
                	theme : 'crimson_editor',
                	mode : 'python'
            		}" id="editor" ng-model="inputText"></div>
                <textarea ng-model="inputText" style="display: none;"></textarea>
            </div>
            <div class="col-md-6" id="graph">
                <nav>
                    <ul class="nav nav-pills nav-justified">
                        <li><a href class="glyphicon glyphicon-play" ng-click="addSpaces(); parseText(); sortCorrectly(); sortMore(); ec.map()"> Draw</a></li>
                        <li><a href class="glyphicon glyphicon-repeat"> Play</a></li>
                        <li><a href class="glyphicon glyphicon-save"> ExportPDF</a></li>
                    </ul>
                </nav>
                <div class="panel-body" ng-controller="graphiccontroller as gc">
                    <svg ng-attr-width="{{width}}" ng-attr-height="{{height}}">
                        <defs>
                            <marker id="markerArrow" class="arrow" markerWidth="13" markerHeight="13" refx="12" refy="6" orient="auto">
                                <path class="arrow-path" d="M5,2 L5,11 L13,6 L5,2">
                            </marker>
                        </defs>
                        <g ng-repeat="link in dis_link">
                            <line class="link" style="marker-end: url(#markerArrow); " ng-attr-stroke-width="{{link.strokeWidth}}" ng-attr-x1="{{link.source.x}}" ng-attr-y1="{{link.source.y}}" ng-attr-x2="{{link.target.x}}" ng-attr-y2="{{link.target.y}}">
                            </line>
                            <text style="text-anchor:middle" font-size="14" fill="black" ng-attr-x="{{(link.source.x+link.target.x)/2}}" ng-attr-y="{{(link.source.y+link.target.y)/2}}" ng-attr-transform="translate(0,-5) rotate({{link.degrees}} ,{{(link.source.x+link.target.x)/2}},{{(link.source.y+link.target.y)/2}})">
                                {{link.text}}
                            </text>
                        </g>
                        <g ng-repeat="node in dis_block">
                            <rect class="node" rx="10" ry="10" ng-attr-width="{{node.w}}" ng-attr-height="{{node.h}}" ng-attr-fill="{{node.color}}" ng-attr-x="{{node.x-node.w/2}}" ng-attr-y="{{node.y-node.h/2}}">
                                <title>{{node.text}}</title>
                            </rect>
                            <text
		                        style="text-anchor: middle;"
		                        font-family="Roboto"
		                        font-size="16"
		                        fill="white"
		                        ng-attr-x="{{node.x}}"
		                        ng-attr-y="{{node.y+6-40}}"
		                        >
		                        {{node.text}}
                        	</text>
                        	<text
                        		style="text-anchor: start;"
		                        font-family="Roboto"
		                        font-size="14"
		                        fill="yellow"
		                        ng-attr-x="{{node.x-110}}"
		                        ng-attr-y="{{node.y+6-22}}"
		                        >
		                        {{node.txt1}}
		                    </text>
		                    <text
                        		style="text-anchor: start;"
		                        font-family="Roboto"
		                        font-size="14"
		                        fill="yellow"
		                        ng-attr-x="{{node.x-110}}"
		                        ng-attr-y="{{node.y+6-4}}"
		                        >
		                        {{node.txt2}}
		                    </text>
		                    <text
                        		style="text-anchor: start;"
		                        font-family="Roboto"
		                        font-size="14"
		                        fill="yellow"
		                        ng-attr-x="{{node.x-110}}"
		                        ng-attr-y="{{node.y+6+14}}"
		                        >
		                        {{node.txt3}}
		                    </text>
		                    <text
                        		style="text-anchor: start;"
		                        font-family="Roboto"
		                        font-size="14"
		                        fill="yellow"
		                        ng-attr-x="{{node.x-110}}"
		                        ng-attr-y="{{node.y+6+14+18}}"
		                        >
		                        {{node.txt4}}
		                    </text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div id="credits">
            <p>Notr - Developed at HackMIT 2015</p>
            <p>Copyright &copy 2015 J. Lin, J. Huang, H. Do, &amp S. Song</p>
        </div>
    </div>
</body>
<!-- AngularJS and Angular-Route -->
<script src="../bower_components/ace-builds/src-noconflict/ace.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-ace/ui-ace.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- pfdMake -->
<script src="../bower_components/pdfmake/build/pdfmake.min.js"></script>
<script src="../bower_components/pdfmake/build/vfs_fonts.js"></script>
<!-- Controllers -->
<script src="js/controllers.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../bower_components/ui-bootstrap-tpls-0.13.4.min.js"></script>

</html>