<html ng-app="notrApp">

<head>
    <title>Notr - Why Am I Responsible for This?</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome-4.4.0/css/font-awesome.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<body>
    <div id="header-bar" class="clearfix">
        <h1>Notr</h1>
        <h3>Why Am I Responsible for This?</h3>
    </div>
    <div class="containerha" ng-controller="EditorCtrl">
        <div class="row">
            <div class="col-md-6" id="raw">
                <nav>
                    <ul class="nav nav-pills">
                        <li>
                            <a href id="toggle" class="glyphicon glyphicon-align-justify"></a>
                        </li>
                        <li><a>File Name</a></li>
                        <li><a id="err">{{errorWarning}}</a></li>
                    </ul>
                </nav>
                <div ui-ace="{
                	useWrapMode : true,
                	theme : 'crimson_editor',
                	mode : 'python'
            		}" id="editor" ng-model="inputText"></div>
                <textarea ng-model="inputText" style="display: none;"></textarea>
            </div>
            <div class="col-md-6" id="graph">
                <nav>
                    <ul class="nav nav-pills nav-justified">
                        <li><a href class="glyphicon glyphicon-play" ng-click="addSpaces(); parseText(); sortCorrectly(); sortMore()"> Draw</a></li>
                        <li><a href class="glyphicon glyphicon-repeat"> Play</a></li>
                        <li><a href class="glyphicon glyphicon-save"> ExportPDF</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="credits">
            <p>Notr - Developed at HackMIT 2015</p>
            <p>Copyright &copy 2015 J. Lin, J. Huang, H. Do, &amp S. Song</p>
        </div>
    </div>
</body>
<!-- AngularJS and Angular-Route -->
<script src="../bower_components/ace-builds/src-noconflict/ace.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-ace/ui-ace.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- pfdMake -->
<script src="../bower_components/pdfmake/build/pdfmake.min.js"></script>
<script src="../bower_components/pdfmake/build/vfs_fonts.js"></script>
<!-- Controllers -->
<script src="js/controllers.js"></script>
<script type="text/javascript" src="graph.js"></script>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script>
var docDefinition = {
    content: 'This is an sample PDF printed with pdfMake'
};
// pdfMake.createPdf(docDefinition).open();	
// pdfMake.createPdf(docDefinition).download();
</script>

</html>